
<div class="about__card">
        <div class="title__container">
            <h1>Sobre Mim</h1>
        </div>
    <div class="about__left">
        <p>
            Olá! Sou Lucas dos Anjos, desenvolvedor front-end com paixão por tecnologia e inovação. Tenho formação em Jogos Digitais pela FATEC Carapicuíba e atualmente curso Análise e Desenvolvimento de Sistemas. Minha experiência inclui suporte técnico e projetos em front-end, onde aplico ferramentas como Docker, Node.js, Git/GitHub e metodologias ágeis. Estou em transição para o mercado de desenvolvimento e busco desafios para aprimorar minhas habilidades e criar soluções visuais eficientes. Confira meu portfólio e entre em contato para trocarmos ideias!    
        </p>

        <img src="assets/img/avatar/lucasAvatar.png" alt="Lucas Avatar at chibi style">
    </div>

    <div class="about__right">
        <div class="skills__container">
            


        </div>
    </div>

</div>