

h1 {
    justify-content: center;
    font-family: var(--Fontetitulos);
    color: var(--branco);
}

.title__container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}